

.app {
  height: 100%;
  display: flex;
  align-items: stretch;
}

.canvas {
  flex: 1;
  /* min-height: 100%; */
}

.loadingWrapper {
  flex: 1;
  display: flex;
}
.loading {
  text-align: center;
  margin: auto;
}

.sidebar {
  width: 450px;
}

