
.app {
  display: flex;
  align-items: stretch;
}

.canvas {
  flex: 1;
  /* min-height: 100%; */
}

.sidebar {
  width: 500px;
  
  text-align: center;
}

.appHeader {
  background-color: #282c34;
  height: 100vh;
  box-sizing: border-box;
  padding: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  background-color: #282c34;
  height: 100vh;
  box-sizing: border-box;
  padding: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

