
.main {
  text-align: center;
  background-color: #282c34;
  /* height: 100vh; */
  box-sizing: border-box;
  padding: 30px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.main h1 {
  font-size: calc(10px + 2vmin);
  margin: 0;
}
.main h2 {
  font-size: calc(10px + 1vmin);
  margin: 0;
}

.item {
  font-size:16px;
  /* padding: 0px; */
  font-family: 'Archeus Grotesque';
  margin: 0;
  color: white;
}

.buttonsWrapper {
  composes: item;
  width: 100%;
  /* padding: 0 25px; */
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  gap: 10px;
}
.buttonsWrapper button {
  font-size: 14px;
  font-family: inherit;
  flex: 1;
  padding: 5px;
}

.slider {
  composes: item;
  margin: 0;
}

.spacer {
  height: 15px;
}
